For Loop
Assignment Questions

Basic Level:

1.Write a Python program to print the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2.Create a program that calculates the sum of all numbers in a list using a for loop.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
sum =0;
for i in lst:
  sum = sum+i
print(f"the sum of all number of list '{lst}'  is equal to {sum}")

the sum of all number of list '[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'  is equal to 55

3.Write a program to print the characters of a string in reverse orer using a for loop.

In [ ]:
str_input ="PWskills"
for i in range(len(str_input)-1,-1,-1):
  print(str_input[i])

s
l
l
i
k
s
W
P

4.Develop a program that finds the factorial of a given number usig a for loop.

In [ ]:
number = int(input("Enter the number :"))
fact =1
for i in range(1,number+1):
  fact=fact*i
print(f"The factorial of the  {number} is {fact}")

Enter the number :5
The factorial of the  5 is 120

5.Create a program to print the multiplication table of a given number using a for loop.

In [ ]:
number = int(input("Enter the number: "))
for i in range(1,11):
  print(f"{number} * {i} = {number*i}")

Enter the number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

6.Write a program that counts the number of even and odd numebers in a list using a for loop.

In [ ]:
lst =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
count_even=0
count_odd =0
for i in range(1,len(lst)):
  if lst[i]%2==0:
    count_even +=1
  else:
    count_odd+=1
print("the even number is: ",count_even)
print("the odd number is: ",count_odd)

the even number is:  10
the odd number is:  9

7.Develop a program that prints the squares of numbers from 1 to 5 using a for loop.

In [ ]:
for i in range(1,6):
  print(i*i)

1
4
9
16
25

8.Create a program to find the length of a string without using the len() funtion.

In [ ]:
string1="rupeshdaha"
count_len=0
for i in string1:
  count_len +=1

print(f"The string '{string1}' length is {count_len}")

The string 'rupeshdaha' length is 10

9.Write a program that calculates the average of a list of numbers using a for loop.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
sum=0
for i in lst:
  sum = sum+i

average= sum/len(lst)
print(f"the average of a list is: {average}")

the average of a list is: 5.5

10.Develop a program that prints the first 'n' fibonacci numbers using a for loop.

In [ ]:
n= int(input("Enter the number"))
fib_numbers = []
a, b = 0, 1
for _ in range(n):
  fib_numbers.append(a)
  a, b = b, a + b

print("The first", n, "Fibonacci numbers are:")
for num in fib_numbers:
    print(num, end=" ")

Enter the number5
The first 5 Fibonacci numbers are:
0 1 1 2 3

11.Write a program to check if given list contains any duplicates using a'for'loop.

In [ ]:
lst=[2,3,5,2,8,9,10]  #example of list with duplicates value
check_duplicate=0
check=False
for i in range(len(lst)):          # fist for loop
  for j in range(len(lst)):         #second for loop and logic
    if (lst[i]==lst[j]):
      check_duplicate+=1
      if(check_duplicate==2):
        check=True
        break
  check_duplicate=0
if(check):
  print("list contains duplicates...")  # print duplicates if contains
else:
  print("List doesnot contains duplicates..")

list contains duplicates...

12.create a program that prints the prime numbers in a given range using a'for'loop.

In [ ]:
lower=int(input("Enter lower value:"))
upper=int(input("Enter upper value: "))
for num in range(lower, upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

Enter lower value:1
Enter upper value: 10
2
3
5
7

13.Develop a program that counts the number of vowels in a string using a'for'loop.

In [ ]:
str1="RupeshKumarDaha"
cout_vowel=0
vowel="aeiou"
for i in str1:
  if i.lower() in vowel:
    cout_vowel+=1
print(f"the total numbers of vowels in '{str1}' is {cout_vowel}")

the total numbers of vowels in 'RupeshKumarDaha' is 6

14.Write a program to find the maximum element in a 2D list using a nested'for'loop.

In [ ]:
lst=[[2,3,4],[90,12,34],[45,23,78]]
max_element=0
for i in lst:
  for j in i:
    if j>max_element:
      max_element=j
print(f"the maximum element from this list '{lst}' is equal to:: '{max_element}'")

the maximum element from this list '[[2, 3, 4], [90, 12, 34], [45, 23, 78]]' is equal to:: '90'

15.create a program that removes all occrrences of a specific element from a list using a 'for'loop.

In [ ]:
lst=[2,3,4,5,2,3,4,7,2,9,10]  # sample list
element=int(input("Enter the element: "))
for i in lst:
  if i==element:
    lst.remove(element)      # removing the element by element
print(f"After removing element '{element}' then the list is '{lst}'")  #final output

Enter the element: 3
After removing element '3' then the list is '[2, 4, 5, 2, 4, 7, 2, 9, 10]'

16.Develop a program that generates a multiplication table for numbers form 1 to 5 usingn a nested.

In [ ]:
start= int(input("Enter the fist number: "))
end= int(input("Enter the end number: "))
for i in range(start,end+1):
  for j in range(1,11):
    result = i*j
    print(f"{i} x {j} = {result} \t")
  print()

Enter the fist number: 1
Enter the end number: 10
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

17.Write a program that converts a list of Fahrenheit temperatures to celssius using a for loop.

In [ ]:
Fahrenheit_lst=[91,92,89,90.3,99.7,98.7,95.6,97.6]
celsius_lst=[]
for i in Fahrenheit_lst:
  celsius_value=round(((float(i)-32)*5)/9,2)

  celsius_lst.append(celsius_value)

print(f"the fahrenheit list is '{Fahrenheit_lst}' and their celsius conversion list is '{celsius_lst}'")

the fahrenheit list is '[91, 92, 89, 90.3, 99.7, 98.7, 95.6, 97.6]' and their celsius conversion list is '[32.78, 33.33, 31.67, 32.39, 37.61, 37.06, 35.33, 36.44]'

18.Create a program to print the common elements from two lists using a `for` loop

In [ ]:
lst1=[2,4,6,8,9,10,12,13,14]
lst2=[2,3,5,6,7,8,9,10,2]
list_common_element=[]
for i in lst1:
  for j in lst2:
    if i==j:
      list_common_element.append(j)

print(list(set(list_common_element)))

[2, 6, 8, 9, 10]

19.Create a program that prints the pattrn of right-angled triangles using a for loop . Use '*' to drow pattern

In [ ]:
num_rows = int(input("Enter the number of rows: "))

for i in range(1, num_rows + 1):
    for j in range(i):
        print('*', end='')
    print()

Enter the number of rows: 5
*
**
***
****
*****

20.Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1 < num2:
    smaller = num1
else:
    smaller = num2

gcd = 1

for i in range(1, smaller + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i

print(f"The GCD of {num1} and {num2} is {gcd}")

Enter the first number: 40
Enter the second number: 100
The GCD of 40 and 100 is 20

Advanced Level:

21.Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

22.Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [1]:
numbers = [123, 45, 6789, 987]       # List of numbers
# List comprehension
digit_sums = [sum(int(digit) for digit in str(number)) for number in numbers]

# Print the result
print("Original Numbers:", numbers)
print("Sum of Digits:", digit_sums)

Original Numbers: [123, 45, 6789, 987]
Sum of Digits: [6, 9, 30, 24]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [3]:
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_elements = [x for i, x in enumerate(original_list) if x not in original_list[:i]]

print("Original List:", original_list)
print("Unique Elements:", unique_elements)

Original List: [1, 2, 2, 3, 4, 4, 5, 6, 6]
Unique Elements: [1, 2, 3, 4, 5, 6]

24.Create a program that generates list of all palindromic numbers up to a specified limit using a list comprehension.

In [5]:
limit = 100
palindromic_numbers = [num for num in range(limit + 1) if str(num) == str(num)[::-1]]

print("Palindromic Numbers up to {}: {}".format(limit, palindromic_numbers))

Palindromic Numbers up to 100: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25.Write a program to flatten a nested list using list comprehension

In [6]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

flattened_list = [element for sublist in nested_list for element in sublist]

print("Original Nested List:", nested_list)
print("Flattened List:", flattened_list)

Original Nested List: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

26.Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [x for x in numbers if x % 2 == 0]
odd_numbers = [x for x in numbers if x % 2 != 0]

sum_even = sum(even_numbers)
sum_odd = sum(odd_numbers)

print("Original Numbers:", numbers)
print("Even Numbers:", even_numbers)
print("Sum of Even Numbers:", sum_even)
print("Odd Numbers:", odd_numbers)
print("Sum of Odd Numbers:", sum_odd)

Original Numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers: [2, 4, 6, 8, 10]
Sum of Even Numbers: 30
Odd Numbers: [1, 3, 5, 7, 9]
Sum of Odd Numbers: 25

27.Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [8]:
squares_of_odd_numbers = [x**2 for x in range(1, 11) if x % 2 != 0]
print("Squares of Odd Numbers between 1 and 10:", squares_of_odd_numbers)

Squares of Odd Numbers between 1 and 10: [1, 9, 25, 49, 81]

28.Write a program that combines two lists into a dictionary using list comprehension

In [9]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {keys[i]: values[i] for i in range(len(keys))}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3}

29.Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [10]:
input_string = "Hello, World!"
vowels = [char for char in input_string if char.lower() in 'aeiou']
print("Input String:", input_string)
print("Vowels:", vowels)

Input String: Hello, World!
Vowels: ['e', 'o', 'o']

 30.Create a program that removes all non-numeric characters from a list of strings using list comprehension

In [31]:
strings_with_non_numeric = ["abc123", "456def", "789xyz", "12345"]

numeric_strings = [''.join(char for char in string if char.isnumeric()) for string in strings_with_non_numeric]

print("Original List of Strings:", strings_with_non_numeric)
print("Numeric Strings:", numeric_strings)

Original List of Strings: ['abc123', '456def', '789xyz', '12345']
Numeric Strings: ['123', '456', '789', '12345']

Challenge Level::

31.Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension

In [14]:
n = 50
is_prime = [True] * (n+1)
is_prime[0:2] = [False, False]

for p in range(2, int(n**0.5) + 1):
    if is_prime[p]:
        for i in range(p * p, n+1, p):
            is_prime[i] = False

primes = [p for p in range(2, n+1) if is_prime[p]]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32.Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [16]:
limit = 30
pythagorean_triplets = []
for a in range(1, limit + 1):
    for b in range(a, limit + 1):
        for c in range(b, limit + 1):
            if a**2 + b**2 == c**2:
                pythagorean_triplets.append((a, b, c))
print(pythagorean_triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

33.Develop a program that generates a list of all possible combinations of two lists using list comprehension

In [17]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

combinations = [(x, y) for x in list1 for y in list2]

print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

34.Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [18]:
import statistics

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

mean = sum(numbers) / len(numbers)
median = statistics.median(numbers)
mode = statistics.mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 3.6666666666666665
Median: 4
Mode: 2

35.Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension

In [20]:
num_rows = 5

pascals_triangle = [[1] * (row + 1) for row in range(num_rows)]

for row in range(2, num_rows):
    for col in range(1, row):
        pascals_triangle[row][col] = pascals_triangle[row - 1][col - 1] + pascals_triangle[row - 1][col]

for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

36.Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension

In [26]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

sums = [sum(int(digit) for digit in str(factorial(n))) for n in range(1, 6)]

print(sums)

[1, 2, 6, 6, 3]

37.Write a program that finds the longest word in a sentence using list comprehension.

In [27]:
sentence = "This is an example sentence to find the longest word."

words = sentence.split()
longest_word = max(words, key=len)

print("Longest word:", longest_word)

Longest word: sentence

38.Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension

In [28]:
words = ["apple", "banana", "grapefruit", "kiwi", "cherry", "strawberry"]

filtered_words = [word for word in words if sum(1 for char in word if char.lower() in 'aeiou') > 3]

print(filtered_words)

['grapefruit']

39.Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension

In [29]:
sums = [sum(int(digit) for digit in str(n)) for n in range(1, 1001)]

total_sum = sum(sums)

print(total_sum)

13501

40.Write a program that generates a list of prime palindromic numbers using list comprehension

In [30]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

limit = 1000
prime_palindromic_numbers = [num for num in range(2, limit) if is_prime(num) and str(num) == str(num)[::-1]]

print(prime_palindromic_numbers)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]